<ul class="nav">
    {% for link in site.navigation %}
        <li {% if page.url == link.url %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}
</ul>
<a href="https://play.google.com/store/apps/details?id=com.socialeyesapp" class="playstore-link" target="_blank" title="Download Socialeyes">Download Socialeyes on Google Play Store</a>

<a href="https://itunes.apple.com/nz/app/socialeyes/id550806403?ls=1&mt=8" class="appstore-link" target="_blank" title="Download Socialeyes">Download Socialeyes on Appstore</a>