// Customize the colors of Octoflat Here


$primary-color:      #A952A5; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #704ad9; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #A952A5; // Hover-over color, Active Page color
$accent-color1:      #A952A5; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ededed; // Background
$navbar-color:       #1ec2de; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #333333; // Body Text
$footer-color:       #7F8C8D; // Footer
